@font-face {
    font-family: 'Roboto';
    src: url(../fonts/roboto-regular-webfont.woff);
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/roboto-bold-webfont.woff);
    font-weight: bold;
}

:root {
    --board-size: 0.85;

    /* --color1: #d68394;
    --color5: #e99034;
    --color6: #f8d548;
    --color4: #6c7981;
    --color2: #b7c3c8;
    --color3: #e3bd9b;
    --color7: #9b6f4f; */

   
    --color1: red;
    --color2: orange;
    /* --color3: gold; */
    --color3: #ffe653;

    --color4: yellowgreen;
    /* --color5: steelblue; */
    --color5: #6074b3;
    --color6: mediumvioletred;
}

body {
    font-family: 'Roboto', sans-serif;
    transition: opacity 2s ease;
    margin: 0;
    opacity: 0;
}

#outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
  
#middle {
    display: table-cell;
    vertical-align: middle;
}
  
#inner {
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    font-size: 25.7vw;
    margin-top: -10px;
    margin-bottom: 8px;
}

span {
    background: linear-gradient(to right, var(--color1), var(--color2), var(--color3), var(--color4), var(--color5), var(--color6));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

body:hover {
    cursor: default;
} 

.selection {
    display: flex;
    /* border: 1px solid steelblue; */
    width: calc(var(--board-size) / 1.05);
    height: calc(var(--board-size) / 9);
    justify-content: space-between;
    margin: auto;
    margin-bottom: 12px;
    opacity: 0;
    visibility: hidden;
}

.selection .fruit {
    /* border: 1px solid steelblue; */
    display: grid;
    position: relative; 
    grid-column: 1;
    grid-row: 1;
    place-items: center;
    align-content: center;
    width: calc(var(--board-size) / 9);
    height: calc(var(--board-size) / 9);
    opacity: 1;
}

.button {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.button:after {
    box-sizing: border-box;
    content: '';
    position: absolute;
    left: calc(var(--board-size) / -40);
    right: calc(var(--board-size) / -40);
    top: -5px;
    bottom: -5px;
}

.display {
    transition: opacity 0.2s ease;
    visibility: visible;
    opacity: 1;
}

.board {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: calc(var(--board-size) + 1px);
    height: calc(var(--board-size) + 3px);
    gap: 1px 1px;
    margin: auto;
    border-width: 10px;
    border-style: solid;
    border-image: linear-gradient(to bottom right, var(--color1), var(--color2), var(--color3), var(--color4), var(--color5), var(--color6)) 1;
    background: linear-gradient(to bottom right, var(--color1), var(--color2), var(--color3), var(--color4), var(--color5), var(--color6));
}

.cell {
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    align-content: center;
    color: white;
    font-size: 3.5em;
    background-color: white;
    width: calc(var(--board-size) / 6 - 1px);
    height: calc(var(--board-size) / 6 - 1px);
    cursor: pointer;
}

.fruit {
    width: calc(var(--board-size) / 6 * 0.8);
    height: calc(var(--board-size) / 6 * 0.8);
    opacity: 0;
    cursor: pointer;
}


.cell:nth-child(3):not(:nth-child(6)) {
    margin-right: 2px;
}

.cell:nth-child(n + 8):nth-child(-n + 12) {
    margin-bottom: 2px;
}

.cell:nth-child(n + 19):nth-child(-n + 24) {
    margin-bottom: 2px;
}

.filled img {
    opacity: 1;
    transition: opacity 0.2s ease;
}

.reset {
    transition: opacity 0.5s ease-in-out;
}

.gray {
    background-color: whitesmoke;
}

@keyframes incorrect {
    0% {
        opacity: 0; 
    }
  
    37% {
        opacity: 0.3;
    } 

    75% {
        opacity: 0; 
    } 
}

/* @keyframes incorrect {
    0% {
        opacity: 0; 
    }
  
    40% {
        opacity: 0.3;
    } 

    60% {
        opacity: 0.3;
    } 

    100% {
        opacity: 0; 
    } 
} */

@keyframes pop {
    0% {
      transform: scale(1); 
    }
  
    50% {
      transform: scale(1.5); 
    } 

    100% {
        transform: scale(1); 
    } 
}

.pop {
    animation: pop 0.5s ease-in-out forwards;
}

#designed {
    text-align: center;
    align-self: auto;
    color: white;
    font-size: 0.55em; 
    margin-top: -1.3em;
    transition: opacity 0.5s linear;
}

@media (prefers-color-scheme: dark) {

    
    body {
        background-color: black;
    }

    .cell {
        background-color: black;
    }

    .gray {
        background-color: rgb(50,50,50);
    }

    #designed {
        color: black;
    }

    @keyframes incorrect {
        0% {
            opacity: 0; 
        }
      
        37% {
            opacity: 0.5;
        } 
    
        75% {
            opacity: 0; 
        } 
    }
}

@media (orientation: landscape) and (max-height: 460px) {

    h1 {
        display: none;
    }

    .board {
        margin-top: 20px;
    }
}

@media (min-width: 460px) and (min-height: 460px) {

    :root {
        --board-size-big: 400px;
    }

    h1 {
        font-size: 7.55em;
    }

    .selection {
        width: calc(var(--board-size-big) / 1.05);
        height: calc(var(--board-size-big) / 9);
        /* margin-top: -80px; */
        margin-bottom: 15px;

    }

    .selection .fruit {
        width: calc(var(--board-size-big) / 9);
        height: calc(var(--board-size-big) / 9);
    }

    .fruit {
        width: calc(var(--board-size-big) / 6 * 0.8);
        height: calc(var(--board-size-big) / 6 * 0.8);
    }

    .button:after {
        top: -10px;
        bottom: -10px;
        left: -10px;
        right: -10px;
    }

    .board {
        border-width: 15px;
        width: calc(var(--board-size-big) + 1px);
        height: calc(var(--board-size-big) + 3px);
    }

    .cell {
        width: calc(var(--board-size-big) / 6 - 1px);
        height: calc(var(--board-size-big) / 6 - 1px);
        box-sizing: border-box;
    }
    
    #designed {
        font-size: 0.8em; 
        margin-top: -1.25em;
    }
}